@model GithubPractice01.Models.BulletinBoard

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BulletinBoard</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="form">
        <div>
            <label>名前</label><br>
            <input type="text" name="name">              
        </div>
        <div>
            <label>コメント</label><br>
            <input type="text" name="comment">
        </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="投稿" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@foreach (var item in ViewBag.Typelist) {
   <div class=" display">
    <p>投稿者:@item.name</p>
    <p>@item.comment</p>
   </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
